In [37]:
import pandas as pd
import matplotlib as plt

In [73]:
df = pd.read_excel('업종별데이터.xlsx')
df.head()

     업종      시    구         연월   사업자수  서울확진자수  전국확진자수  코로나유무
0  업종전체  서울특별시  종로구 2017-09-01  16191       0       0  코로나없음
1  업종전체  서울특별시   중구 2017-09-01  18068       0       0  코로나없음
2  업종전체  서울특별시  용산구 2017-09-01  12825       0       0  코로나없음
3  업종전체  서울특별시  성동구 2017-09-01  12816       0       0  코로나없음
4  업종전체  서울특별시  광진구 2017-09-01  15883       0       0  코로나없음

## 원하는 데이터만 뽑아오는 방법

In [5]:
# 우선 "업종" 컬럼에 어떤 값들이 들어가 있는지 확인

df['업종'].unique()

array(['업종전체', '간이주점', '구내식당', '기타외국식전문점', '기타음식점', '분식점', '일식전문점', '제과점',
       '중식전문점', '커피음료점', '패스트푸드점', '한식전문점', '호프전문점', '노래방', '당구장', '목욕탕',
       '스포츠시설운영업', 0, '헬스클럽', 'pc방'], dtype=object)

In [13]:
# 음식과 관련된 업종의 데이터를 뽑아오고 싶어서 아래와 같이 리스트로 가져올 데이터를 담아주었다

category = ['구내식당', '기타외국식전문점', '기타음식점', '분식점', '일식전문점', '제과점',
       '중식전문점', '커피음료점', '패스트푸드점', '한식전문점']

### 방법1. isin을 활용하기

In [58]:
food1 = df[df['업종'].isin(category)]
food1.head(3)

      업종      시    구         연월  사업자수  서울확진자수  전국확진자수  코로나유무
50  구내식당  서울특별시  종로구 2017-09-01   251       0       0  코로나없음
51  구내식당  서울특별시   중구 2017-09-01   260       0       0  코로나없음
52  구내식당  서울특별시  용산구 2017-09-01   371       0       0  코로나없음

In [80]:
# 앞에 ~를 붙여주면 해당되지 않는 것만 가져올 수도 있다

notfood = df[~df['업종'].isin(category)]
notfood.tail(1)

        업종      시    구         연월  사업자수  서울확진자수  전국확진자수  코로나유무
17499  pc방  서울특별시  강동구 2020-07-01    76     288    1509  코로나있음

### 방법2. query를 활용하기
* query는 괄호 안에 들어가는 조건에 맞는 데이터만 뽑아올 수 있게 해주는 문법이다

In [64]:
food2 = df.query('업종 in @category')
food2.head(3)

      업종      시    구         연월  사업자수  서울확진자수  전국확진자수  코로나유무
50  구내식당  서울특별시  종로구 2017-09-01   251       0       0  코로나없음
51  구내식당  서울특별시   중구 2017-09-01   260       0       0  코로나없음
52  구내식당  서울특별시  용산구 2017-09-01   371       0       0  코로나없음

In [82]:
# not in 을 해주면 해당되지 않는 것을 가져온다

notfood2 = df.query('업종 not in @category')
notfood2.tail(1)

        업종      시    구         연월  사업자수  서울확진자수  전국확진자수  코로나유무
17499  pc방  서울특별시  강동구 2020-07-01    76     288    1509  코로나있음

In [78]:
# 이 경우는 성동구에 있는 분식점만 뽑아오게 하는 query 코드
# 조건이 따옴표로 감싸져있고, 조건이 ''표시 되어있는 것을 확인하자!

bs = df.query("업종 == '분식점' and 구 == '성동구'")
bs.tail(1)

        업종      시    구         연월  사업자수  서울확진자수  전국확진자수  코로나유무
17128  분식점  서울특별시  성동구 2020-07-01   290     288    1509  코로나있음