# Make New Columns

In [1]:
import pandas as pd
import numpy as np

SyntaxError: invalid syntax (<ipython-input-1-c21c9985d7fd>, line 3)

In [20]:
df = pd.DataFrame({'A': range(1,11), 'B': np.random.randn(10)})
df

    A         B
0   1  0.511902
1   2 -1.027035
2   3 -1.350433
3   4  1.083572
4   5 -0.780192
5   6  0.361074
6   7 -0.805356
7   8 -0.587918
8   9 -0.281284
9  10 -1.324010

In [21]:
df.assign(ln_A = lambda x: np.log(x.A)) # a값에 로그를 씌워준 새로운 컬럼

    A         B      ln_A
0   1  0.511902  0.000000
1   2 -1.027035  0.693147
2   3 -1.350433  1.098612
3   4  1.083572  1.386294
4   5 -0.780192  1.609438
5   6  0.361074  1.791759
6   7 -0.805356  1.945910
7   8 -0.587918  2.079442
8   9 -0.281284  2.197225
9  10 -1.324010  2.302585

In [22]:
df['ln_A'] = np.log(df.A) #위에랑 똑같은 결과가 나옴, 다른 방법
df

    A         B      ln_A
0   1  0.511902  0.000000
1   2 -1.027035  0.693147
2   3 -1.350433  1.098612
3   4  1.083572  1.386294
4   5 -0.780192  1.609438
5   6  0.361074  1.791759
6   7 -0.805356  1.945910
7   8 -0.587918  2.079442
8   9 -0.281284  2.197225
9  10 -1.324010  2.302585

In [23]:
pd.qcut(df.A, 3, labels=["good", "medium", "bad"]) #n개의 구간으로 나눠주는 것

0      good
1      good
2      good
3      good
4    medium
5    medium
6    medium
7       bad
8       bad
9       bad
Name: A, dtype: category
Categories (3, object): [good < medium < bad]

In [24]:
df.max(axis=1) # 여러개의 컬럼들 중에 제일 큰 값을 가져옴

0     1.0
1     2.0
2     3.0
3     4.0
4     5.0
5     6.0
6     7.0
7     8.0
8     9.0
9    10.0
dtype: float64

In [25]:
df.max(axis=0) # 행에서 제일 큰 값을 가져옴

A       10.000000
B        1.083572
ln_A     2.302585
dtype: float64

In [26]:
df['A'].clip(lower=-10,upper=10) # 최저, 최대 값을 정해서 그 안에 숫자들이 포함되게

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
Name: A, dtype: int64

In [28]:
df['A'].clip(lower=-1,upper=5.5) # 5를 넘는 숫자들은 다 내림 된 것을 알 수 있음

0    1.0
1    2.0
2    3.0
3    4.0
4    5.0
5    5.5
6    5.5
7    5.5
8    5.5
9    5.5
Name: A, dtype: float64

In [31]:
df['absolute'] = df['B'].abs() # 절대값으로 바꾸는 방법
df

    A         B      ln_A  absolute
0   1  0.511902  0.000000  0.511902
1   2 -1.027035  0.693147  1.027035
2   3 -1.350433  1.098612  1.350433
3   4  1.083572  1.386294  1.083572
4   5 -0.780192  1.609438  0.780192
5   6  0.361074  1.791759  0.361074
6   7 -0.805356  1.945910  0.805356
7   8 -0.587918  2.079442  0.587918
8   9 -0.281284  2.197225  0.281284
9  10 -1.324010  2.302585  1.324010